<h1>To Do List <%= @todo[:id] %></h1> 

<ul> <li><input type="checkbox" name=""/>Remind me to do the work at 7:00 pm</li>  
</ul>    
<input type="text" placeholder="Add a new to do"/>    
<input type="time" placeholder= "Enter time to remind you"/>
<input type="number" placeholder= "Number of pomodoros" />
<input type="submit"/> 
4+3 = <%= 4+3 %> <br></br>
<p><%= @todo[:name]%> </p>
<p><%= @todo[:description]%> <p/>
<p><%= @todo[:duration]%> mins </p>

     



