<!--show.html.erb-->
 <p> <%= @todo.name%></p>  
 <p><%= @todo.description%></p>
 <p><%= @todo.duration%> mins</p>
<p>compleated: <%= @todo.compleate%></p>

<form action="/todos/<%=@todo.id%>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
<p>Name: <input type="text" name="name" value="<%=@todo.name%>" placeholder="Add a new to do"/>    
<p>Description: <input type="text" name="description" value="<%=@todo.description%>"
    placeholder= "Type description"/></p>
<p>Estimated time: <input type="number" name="duration"
    value="<%=@todo.duration%>" placeholder="Duration"/> Minutes</p>
<p>Compleated: <input type="checkbox" name="compleate" value="<%=@todo.compleate ? 'checked': '' %>" placeholder="compleate"/></p>
<input type="submit" value="update"/> 
</form>

     



